<div class="book-details-container">
  <ng-container *ngIf="isLoading; else courseDetails">
  </ng-container>

  <ng-template #courseDetails>
    <div class="course-details card">
      <div class="course-main">
        <img [src]="course.image" alt="Course Image" class="course-image" />
        <div class="course-info">
          <h1>{{ course.title }}</h1>
          <p class="author">by {{ course.author }} </p> 
          <p class="category"> Category: ({{course.category}})</p>
          <p class="description">{{ course.description }}</p>
          <button class="back-button" [routerLink]="['/catalog']">Back</button>
        </div>
      </div>
      
      <div *ngIf="isCourseOwner" class="delete-and-edit">
        <button [routerLink]="['/catalog/edit', course._id]" class="edit-button">
          Edit
        </button>
        <button (click)="deleteCourse()" class="delete-button">
          Delete
        </button>
      </div>
    </div>
  </ng-template>
</div>
