<header>
    <h1 class="header-title"><a routerLink="/">Courses Management System</a></h1>
    <nav>
        <a routerLink="/">All Courses</a>
                <div id="user">
                    <a routerLink="/">Create Course</a>
                    <a routerLink='/'>Search</a>
                    <a routerLink="/">Logout</a>
                </div>

                <div id="guest">
                    <a routerLink='/'>Search</a>
                    <a routerLink="/">Login</a>
                    <a routerLink="/">Register</a>
                </div>
    </nav>
</header>