.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.2rem 1.2rem;
  font-family: 'Libre Baskerville', serif;
  position: relative;
  z-index: 10;
}

.nav-left,
.nav-right {
  display: flex;
  gap: 1rem;
  cursor: pointer;
}

.nav-item {
  text-decoration: none;
  color: #e3e3e3;
  font-size: 1.6rem;
  transition: color 0.3s;
}

.nav-item:hover {
  color: #9b8481;
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    text-align: center;
  }

  .nav-left,
  .nav-right {
    justify-content: center;
    gap: 0.5rem;
  }
}
